.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flag{
  max-height: 20px;
  max-width: 20px;
  margin-right: 5px;
}

.profile{
  max-height: 200px;
  max-width: 200px;
  text-align: center;
}

.profile-div{
  width:100%; text-align:center
}

.profile-card{
  width: 100%;
  align-items: center;
}
